body
{
	font-size:       65%; 
	margin:          0;
	padding:         0;
	background-color: #7D1935;
	font-family:     'lucida grande', arial, tahoma, sans-serif;
}
#header{
	text-align:center;
	font-size:150%;
	font-family:Times New Roman;
}

#content
{	
	
	margin-left:5px;
	font-size:180%;	
}
p
{
	margin-top:-15px;
	font-family:calibri;
	margin-left: 10px;
	margin-right:10px;
}
h2
	{
	font-family:calibri;
	margin-left: 10px;
	margin-right:10px;
	}

